@model IEnumerable<OdeToFood.Models.Resturant>
@{
    ViewData["Title"] = "Index";
}

<table>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
    </tr>
    }
</table>


