@model OdeToFood.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Index";
}

@foreach (var item in Model.Resturants)
{
    @Html.Partial("_Summary",item)
}


<div>
    <a asp-action="Create">Add Resturant</a>
</div>

@section footer{ 
    <h1>Hello</h1>
}


