@model OdeToFood.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<table>
    @foreach (var item in Model.Resturants)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
    </tr>
    }
</table>


